

body {
    background-color: black;
    color: white;
}

#logo 
  {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;

}

#co {
   
    display: flex;
    margin-left: 10px;
     font-weight: bolder;
     font-size: larger;
     text-align: center;
     color: black
   
 }
 
 #log {
     
     display: flex;
    margin-left: auto;
     font-weight: bolder;
     font-size: larger;
     text-align: center;
     color: black
 }
 
 #reg {
     display: flex;
     margin-right: 15px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    color: black
    
 }
 
 #prod {
     display: flex;
     margin-left: 60px;
     font-weight: bolder;
     font-size: larger;
     color: black
 }
 
 #sticky-footer {
     color: white;
     margin-top: 5%;
 }
 