

body {
    background-image: url(/images/boombg5.png);
}

.boom1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-style: inset;
}

#bigpara{
    text-align: center;
}
.para1 {
    display: inline-block;
    margin-right: 80px;
    width: 100px;
    border-style: double;
    color: white;
    font-weight: bold;
    
   
}

.para1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    text-align: justify;    
    background-color:black;
}

.para2 {
    display: inline-block;
    margin-right: 80px;
    width: 100px;
    border-style: double;
    color: white;
    font-weight: bold;
    
   
}

.para2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    text-align: justify; 
    background-color: black


}


#co {
    text-align: right;
    display: block;
    font-weight: bolder;
    color: black
  
}

#log {
    text-align: right;
    margin-top: o;
    display: block;
    font-weight: bolder;
    color: black
}

#reg {
    text-align: right;
   display: block;
   font-weight: bolder;
   color: black
   
}

#cyo {
    text-align: center;
    display: block;
    font-weight: bolder;
    color: black
    
}

#deals {
    text-align: center;
    display: block;
    font-weight: bolder;
    color: black
}

#prod {
    text-align: center;
    display: block;
    font-weight: bolder;
    color: black
}

#footpara {
    color: white;
    margin-top: 5%;
}